<%  header"You Must Sign Up!" %>
<% title "Sign Up!" %>


<div id="login">
  <% form_for :session, :url => session_path do |form| %>
  <%= form.error_messages %>
    <ul>
      <li><h3>Login to your account</h3></li>
      <li>
        <%= form.label :email, "Username or email" %>
        <span><%= form.text_field :email, :class => "input" %></span>
      </li>
      <li>
        <label for="session_password">Password <%= link_to "(Forgot your password?)", new_password_path %></label>
        <span><%= form.password_field :password, :class => "input" %></span>
      </li>
      <li><%= form.submit "", :class => "btn_login" %></li>
    </ul>
  <% end %>
</div>
