<% title "Twitter Sign Up" %>
<% header "Almost done!" %>

<div id="login" class="form_left">
<%= form_for [:twitter,@user], :url => twitter_users_path, :html => { :id => 'form' } do |form| -%>
<%= form.error_messages %>

<ul class="left">
	<li><h3>You are almost done, just finish your signup process and then Tell the world what you think they Must do</h3></li>
	<li>
		<%= form.label :username %>
		<span><%= form.text_field :username, :class => "input" %></span>
		<%= error_message_on :user, :username %>
	</li>
	<li>
		<%= form.label :email, 'Please provide your email so we can know how to contact you' %>
		<span><%= form.text_field :email, :class => 'input' %></span>
		<%= error_message_on :user, :email %>
	</li>		

	<li><%= form.submit "", :class => "btn_save" %></li>
</ul>

<% end %>
</div>

