

	<div id="menu_lower">
		<ul>
			<li><a href="javascript:void(0)" class="selected">Change Avatar</a></li>
			<li><a href="javascript:void(0)">Profile Information</a></li>
		</ul>
	</div>


<div id="avatar" style="display:none">

<% form_for @user, :html => {:method => :put, :multipart => true}, :url => user_update_profile_path(current_user) do |form| -%>

	<%= form.error_messages %>

	this is my current avatar
	<%= avatar_for(current_user,32)%>

	<% unless current_user.fb_access_token.nil? %>
	<hr/>
	<input type="radio" name="user[avatar_type]" value="1">Use my Facebook Avatar<br>
	<br/>
	<%= facebook_avatar(current_user,32) %> 
	<br/>
	<% end %>

	<% unless current_user.twitter_id.nil?%>
	<hr/>
	<input type="radio" name="user[avatar_type]" value="2">Use my Twitter avatar<br>
	<br/>
	<%= twitter_avatar(current_user,32) %> 
	<br/>
	<% end %>

	<hr/>
	<input type="radio" name="user[avatar_type]" value="3">Use my Gravatar<br>
	<br/>
	<%= gravatar_for(current_user,32) %> 
	<br/>

	<% unless current_user.external_avatar_url.blank?%>
	<hr/>
	<input type="radio" name="user[avatar_type]" value="4">Use my External Location Avatar<br>
	<br/>
	<%= external_url_avatar(current_user,32) %> 
	<br/>
	<% end %>

	<% unless current_user.avatar_file_name.nil?%>
	<hr/>
	<input type="radio" name="user[avatar_type]" value="5">Use my Uploaded Avatar<br>
	<br/>
	<%= uploaded_avatar(current_user,32) %>
	<br/>
	<% end %>

	<hr/>
	<label>Upload a new Picture</label>
	<br/>
	<%= form.file_field :avatar %>
	<br/><br/>

	<hr/>
	<label>Use New External Link image</label>
	<br/>
	<%= form.text_field :external_avatar_url%>
	<br/>

	<%= submit_or_cancel(form, 'Cancel') %>

	<% end -%>
</div>

<div id="info">

	<div id="login" class="form_left">
	<% form_for @user, :html => {:method => :put}, :url => user_update_profile_path(current_user) do |form| -%>
	<%= form.error_messages %>
	<ul class="left">
		<li><h3>Update your account information</h3></li>
		<li>
			<%= form.label :username %>
			<span><%= form.text_field :username, :class => "input" %></span>
		</li>
		<li>
			<%= form.label :email %>
			<span><%= form.text_field :email, :class => "input" %></span>
		</li>
		<li>
			<%= form.label :web %>
			<span><%= form.text_field :web, :class => "input" %></span>
		</li>
		<li>
			<%= form.label :location %>
			<span><%= form.text_field :web, :class => "input" %></span>
		</li>
		<li>
			<%= form.label :bio %>
			<span><%= form.text_area :bio, :class => "input_area" %></span>
		</li>

		<li><%= form.submit "", :class => "btn_login" %></li>
	</ul>

	<% end %>
</div>	
</div>