<h1>Profile</h1>

<% form_for @user, :html => {:method => :put, :multipart => true}, :url => user_update_profile_path(current_user) do |form| -%>

<%= form.error_messages %>

this is my current avatar
<%= avatar_for(current_user)%>


<% unless current_user.twitter_id.nil?%>
		<hr/>
		<input type="radio" name="user[avatar_type]" value="2">Use my Twitter avatar<br>
		<br/>
		<%= twitter_avatar(current_user) %> 
		<br/>
	<% end %>
	
	<hr/>
	<input type="radio" name="user[avatar_type]" value="3">Use my Gravatar<br>
	<br/>
	<%= gravatar_for(current_user) %> 
	<br/>
	
	<% unless current_user.external_avatar_url.blank?%>
		<hr/>
		<input type="radio" name="user[avatar_type]" value="4">Use my External Location Avatar<br>
		<br/>
		<%= external_url_avatar(current_user) %> 
		<br/>
	<% end %>
	
	<% unless current_user.avatar_file_name.nil?%>
		<hr/>
		<input type="radio" name="user[avatar_type]" value="5">Use my Uploaded Avatar<br>
		<br/>
		<%= uploaded_avatar(current_user) %>
		<br/>
	<% end %>
	
	<hr/>
	<label>Upload a new Picture</label>
	<br/>
	<%= form.file_field :avatar %>
	<br/><br/>
	
	<hr/>
	<label>Use New External Link image</label>
	<br/>
	<%= form.text_field :external_avatar_url%>
	<br/>

<p>
	<%= form.label :username %><br/>
	<%= form.text_field :username %>
	<%= error_message_on :user, :username %>
</p>

<p>
	<%= form.label :email %><br/>
	<%= form.text_field :email %>
	<%= error_message_on :user, :email %>
</p>

<p>
	<%= form.label :name %><br/>
	<%= form.text_field :name %>
	<%= error_message_on :user, :name %>
</p>

<p>
	<%= form.label :web %><br/>
	<%= form.text_field :web %>
	<%= error_message_on :user, :web %>
</p>

<p>
	<%= form.label :location %><br/>
	<%= form.text_field :location %>
	<%= error_message_on :user, :location %>
</p>

<p>
	<%= form.label :bio %><br/>
	<%= form.text_area :bio %>
	<%= error_message_on :user, :bio %>
</p>

<%= submit_or_cancel(form, 'Cancel') %>

<% end -%>