<!--right panel start -->
<div id="right">
	<span class="green"><h2>Recent Musts</h2></span>

	<h3 class='peoplemusting'>RECENT ACTIVITY </h3>
	<% unless musts.nil? %>
	<ul id="recent_must">
		<% musts.each do |must| %>
		<li>
			<div class="avatar_content">
				<div class="avatar_img"><%= avatar_for(must.user)%></div>
			</div>
			<div class="avatar_content_right">
				<span><%=h must.user.username %></span><br/>
				<span><%=h link_to must.name, must_path(must) %></span><br/>
				<small><%=time_ago_in_words(must.updated_at)%> ago</small>
			</div>
		</li>
		<% end %>
	</ul>
	<% end %>

	<script type="text/javascript">
	$(window).load(function(){
		load_more_muts("<%=@date%>")
	});
	</script>


	<br class="spacer" />
	<p class="wordcloud">
		<span style="font-size:1.3em;">cookie</span>
		<span style="font-size:0.8em;">travel</span>
		<span>buy</span>
		<span style="font-size:1.6em;">software</span>
		<span style="font-size:1.2em;">macbook</span>
		<span style="font-size:2em;">rails rumble</span>
		<span>playstation</span>
		<span style="font-size:1.6em;">awards</span>
		<span>iphone</span>
		<span style="font-size:1.1em;">kindle</span>
		<span>food</span>
		<span style="font-size:1.4em;">test</span>
		<span style="font-size:1.3em;">cookie</span>
		<span style="font-size:0.8em;">travel</span>
		<span>buy</span>
		<span style="font-size:1.6em;">software</span>
		<span style="font-size:1.2em;">macbook</span>
		<span style="font-size:2em;">rails rumble</span>
		<span>playstation</span>
		<span style="font-size:1.6em;">awards</span>
		<span>iphone</span>
		<span style="font-size:1.1em;">kindle</span>
		<span>food</span>
		<span style="font-size:1.4em;">test</span>
	</p>
	<div id="quicksearch">
		<h2>Quicksearch</h2>
		<form name="email" action="#" method="post">
			<input type="text" name="search_terms" value="You must..." />
			<input type="submit" name="signup" value="Search" />
			<br class="spacer" />
		</form>
		<br class="spacer" />
	</div>
</div>
<!--right panel end -->