<!--right panel start -->
<div id="right">
	<form id="search_form">
		<input type="text" id="search" name="search" value="search ...">
	</form>
		
	<p class="wordcloud">
		<span style="font-size:1.3em;">cookie</span>
		<span style="font-size:0.8em;">travel</span>
		<span>buy</span>
		<span style="font-size:1.6em;">software</span>
		<span style="font-size:1.2em;">macbook</span>
		<span style="font-size:2em;">rails rumble</span>
		<span>playstation</span>
		<span style="font-size:1.6em;">awards</span>
		<span>iphone</span>
		<span style="font-size:1.1em;">kindle</span>
		<span>food</span>
		<span style="font-size:1.4em;">test</span>
		<span style="font-size:1.3em;">cookie</span>
		<span style="font-size:0.8em;">travel</span>
		<span>buy</span>
		<span style="font-size:1.6em;">software</span>
		<span style="font-size:1.2em;">macbook</span>
		<span style="font-size:2em;">rails rumble</span>
		<span>playstation</span>
		<span style="font-size:1.6em;">awards</span>
		<span>iphone</span>
		<span style="font-size:1.1em;">kindle</span>
		<span>food</span>
		<span style="font-size:1.4em;">test</span>
	</p>

	<h2>Recent musts</h2>
	<h3 class='peoplemusting'>RECENT ACTIVITY </h3>
	<% unless musts.blank? %>
	<ul id="recent_must">
		<% musts.each do |must| %>
		<li>
			<div class="avatar_content">
				<div class="avatar_img"><%= avatar_for(must.user)%></div>
			</div>
			<div class="avatar_content_right">
				<span><%=h must.user.username %></span><br/>
				<span><%=h link_to must.name, must_path(must) %></span><br/>
				<small><%=time_ago_in_words(must.updated_at)%> ago</small>
			</div>
		</li>
		<% end %>
	</ul>
	<% else %>
		<p>There is no recent activity.</p>
	<% end %>

	<script type="text/javascript">
	$(window).load(function(){
		<% unless @date.nil?%>
		//load_more_muts("<%=@date%>")
		<% end %>
	});
	</script>
</div><!-- right -->
