<!--right panel start -->
<div id="right">
	<form id="search_form">
		<input type="text" id="search" name="search" onchange="javascript:unfinished()" value="search ...">
	</form>
		
	<p class="wordcloud">
		<%# tag_cloud(Must.tag_counts_on(:tags), %w(cloud1 cloud2 cloud3 cloud4)) do |tag, css_class| %>
		   <%#= link_to tag.name, tags_path(tag.name), :class => css_class %>
		<%# end %>
	</p>

	<h3 class='peoplemusting'>RECENT ACTIVITY </h3>
	
	<% musts_recent = Must.find(:all, :order => "created_at desc", :limit => '5')%>
	<% unless musts_recent.nil? %>
	<ul id="recent_must">
		<% musts_recent.each do |must| %>
		<li>
			<div class="avatar_content">
				<div class="avatar_img"><%= avatar_for(must.user,28)%></div>
			</div>
			<div class="avatar_content_right">
				<span><%=h must.user.username %></span><br/>
				<span><%=h link_to must.name, must_path(must) %></span><br/>
				<small><%=time_ago_in_words(must.created_at)%> ago</small>
			</div>
		</li>
		<% end %>
	</ul>
	<% else %>
		<p>There is no recent activity.</p>
	<% end %>

	<script type="text/javascript">
	$(window).load(function(){
		<% unless @date.nil?%>
		//load_more_muts("<%=@date%>")
		<% end %>
	});
	</script>
</div><!-- right -->
