<ul id="top_menu">
	<li><a <% if (controller.controller_name == "home" && controller.action_name == "index")%> class="active" <% end %> href="<%= root_path %>">Top Musts</a></li>
	<li><a <% if (controller.controller_name == "musts" && controller.action_name == "recents")%> class="active" <% end %> href="<%= recents_path %>">Recent Musts</a></li>
	<% if signed_in? %>	
	<li><a <% if (controller.controller_name == "search" && controller.action_name == "index")%> class="active" <% end %> href="<%= search_index_path %>">People</a></li>
	<li><a <% if (controller.controller_name == "blahblah" && controller.action_name == "blahblah")%> class="active" <% end %> href="#">Following</a></li>
	<li><a <% if (controller.controller_name == "musts" && controller.action_name == "my_musts")%> class="active" <% end %> href="<%= my_musts_path %>">My Musts</a></li>
	<li><a <% if (controller.controller_name == "buckets")%> class="active" <% end %> id="bucket_list_tab" href="<%= buckets_path(current_user)%>">Bucket List<% if current_user.bucket_list_count > 0%><span><%= current_user.bucket_list_count %></span><% end %></a></li>
	<li><a <% if controller.controller_name == "favorites" %> class="active" <% end %> href="<%= favorites_path %>">Favorites</a></li>
	<%end%>
</ul>