  <li id='must<%= must.id%>'>
 	  <div class="left">
	      <%= link_to_remote "", { :url => must_agree_path(must) }, :class => "add" -%>
          <span class="add_count" id="agrees_count_<%=must.id%>"><%= must.total_agrees %></span>
		  <%= link_to_remote "", { :url => must_disagree_path(must) }, :class => "remove" -%>
		  <span class="remove_count" id="disagrees_count_<%=must.id%>"><%= must.total_disagrees %></span>
		</div><!-- left -->
    <div class="right">
      <ul class="icons">
				<span id="favorite_<%=must.id%>">
				<%= render :partial => "musts/favorite", :locals => {:must => must} %>
				</span>
				
				<% if current_user %>
					<li><a class="bucket_add" title="Add this Must to your Bucket List" href="javascript:void(0)" onclick="add_must_to_my_bucket_list(<%= current_user.id%>, <%=must.id%>)" ></a></li>
				<% end %>
				
				<li><a class="facebook" href="javascript:void(0);" title="" onclick="window.open('http://www.facebook.com/sharer.php?u=<%= must_url(must)%>&t=<%= must.name %>', 'Share this on Facebook', 'width=540,height=480');"></a></li>
				<li><a class="twitter" href="javascript:void(0);" title="" onclick="window.open('http://twitter.com/share?url=<%= must_url(must)%>&text=<%= must.name %>&via=you_must_do', 'Share this on Twitter', 'width=540,height=480');"></a></li>
      </ul>
      <div class="title"><%=h avatar_for(must.user,30) %>
        <span>You must <%= must.category_name %></span> 
		<%=link_to must.name, must_path(must) %> <small>by <%=h must.user.username %></small>
      </div><!-- title -->
      
      <div class="must_content">
		<% if true %>
        <img src="/images/misc/image_preview.jpg">
		<% end %>
        <p><%=h must.description %></p>
		<% unless must.tag_list.blank?%>
        	<p>
			<b>Tags:</b>
	 		<% must.tag_list.each do |tag|%>
				<a href="<%= tags_path(tag) %>"><%= tag %></a>
			<% end %>
			</p>
		<% end %>
		
        <p>This must has <a><%= pluralize(must.comments.count, 'comment') %></a></p>        
      </div> <!-- must_content -->
      <div class="related">
        <p><b>Related musts</b></p>
	      <p><span>You Must listen</span> <a href="#">When I Come Around from Green Day live at...</a></p>
	      <p><span>You Must watch</span> <a href="#">Metallica singing One live</a></p>
      </div>
    </div><!-- right -->
  </li>