<h1>My Musts</h1>

<%=link_to "create a new Must", new_must_path %>

<% unless @musts.empty? %>

<div id="table_content">

	<table id="modal_table" border="1" width="100%">
		<tr>
			<th>Name</th>
			<th>Desc</th>
			<th>Location</th>
			<th>Date</th>
		</tr>

		<% @musts.each do |must| %>
		<tr class=<%= cycle("dark","")%>>
			<td><%=h link_to must.name, must_path(must) %></td>
			<td><%=h must.description %></td>
			<td><%=h must.location %></td>
		</tr>
		<% end %>
	</table>
</div>

<% else %>
Comm'on, there is nothung yet... create the first Must and win a T-Shirt!
<% end %>