<script type="text/javascript">
$(window).load(function(){
  initialize();
  $('#slider1').tinycarousel();	
  <% unless @must.category_id.nil? %>
    selectCategory("<%=@must.category_name%>");
  <% else %>
    selectCategory("<%=Category.first.name%>");
  <% end %>
  $("#must_category_id").change(function() {
    var src = $("option:selected", this).text();
    selectCategory(src);
});

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(function(position) {
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
    var myLatlng = new google.maps.LatLng(lat, lng);
    if(marker == null){
        marker = new google.maps.Marker({
        position: myLatlng, 
        map: map
      });
    }else{
      marker.setPosition(myLatlng)
    }
    map.setCenter(myLatlng);
    $('input[id=must_latitude]').attr(
      {value: lat});
    $('input[id=must_longitude]').attr(
      {value: lng});
      google.maps.event.addListener(marker, 'dragend', function(event) {
        //placeMarker(event.latLng);
        latLng = marker.getPosition();
        $('input[id=must_latitude]').attr(
          {value: latLng.lat()});
        $('input[id=must_longitude]').attr(
          {value: latLng.lng()});
      });
  });
}
});
</script>

	<div id="login" class="form_left">

  <br class="spacer" />
  <% title "Sign Up!" %>
  <%= form_for(@must, :html => {:method => :post, :multipart => true}) do |f| %>

  <ul>
    <li id="category">
    <%= f.label :category_id, "You Must " %>
    <%= select(:must, :category_id, Category.all.map {|u| [u.name, u.id]}, html_options = {:onchange => "selectCategory(this.value)"}) %>
    </li>
    <li id="attachments">
      <label>Please select the audio files you want to upload</label>
      <div id="files">
        <%= fields_for :attachment do |attachment| %></span>
          <span><%= attachment.file_field :file %></span>
        <% end %>
      </div>
    </li>
    <li  id="url">
    	<%= f.label :url %>
    	<span><%= f.text_field :url, :class => "text", :class => "input" %></span>
    	<%= error_message_on :must, :url%>
    </li>
    <li id="url_button">
	 <!--- Replace this with unobstrusive Javascript -->
     <input onclick="jQuery.ajax({beforeSend:function(request){$('#loader').show();}, complete:function(request){$('#loader').hide()}, data:'url='+$('#must_url').val(), dataType:'script', type:'post', url:'/musts/get_url_metadata'});" type="button" value="Attach" />


    </li>									 
    <li  id="url_loader">
    	<div class="loader" id="loader" style="display:none;">
    		<%= image_tag 'ajax_waiting.gif' %>
    	</div>
    </li>
    <li id="external_images">
    </li>
    <li id="external_video">
    </li>
    <li  id="name">
      <%= f.label :name %>
      <span><%= f.text_field :name, :class => "text", :class => "input"%></span>
      <%= error_message_on :must,:name%>
    </li>
    <li  id="description">
      <%= f.label :description %>
      <span><%= f.text_area :description, :class => "textarea" , :class => "input_area"%>
      <%= error_message_on :must,:description %>
    </li>

	<li  id="tag_list">
	  <label for="must[tag_list]">Tag List (comma separated)</label>
	  <span><input type="text" class="input" name="must[tag_list]" id="must_tag_list" />
	</li>

    <li  id="google_map">
      <p>Click in the map your desired location. Remember only the last position will be added</p>
      <div id="map_canvas" style="width:380px; height:200px;"></div>
    </li>
    <li  id="latitude">
      <%= f.label :latitude %>
      <span><%= f.text_field :latitude, :class => "text", :readonly => "true" , :class => "input"%></span>
      <%= error_message_on :must,:latitude %>
    </li>
    <li  id="longitude">
      <%= f.label :longitude %>
      <span><%= f.text_field :longitude, :class => "text", :readonly => "true" , :class => "input"%></span>
      <%= error_message_on :must,:longitude %>
    </li>
    <% unless current_user.facebook_uid.nil? %>
  	  <li id="fb_share">
  	    <%= check_box :share, :facebook, :checked => true %>
  	    <label for="share_facebook" style="display:inline-block;">Post this Must to Facebook</label>
  	  </li>
    <% end %>
    <% unless current_user.twitter_id.nil? %>
  	  <li id="tw_share">
  	    <%= check_box :share, :twitter, :checked => true %>
  	    <label for="share_twitter" style="display:inline-block;">Post this Must to Twitter</label>
  	  </li>
    <% end %>
    	<li id="submit"><%= f.submit "", :class => "btn_save" %></li>
  </ul>
  <% end %>
  <br class="spacer" />
</div>
<script>
var map;
var marker = null;
function initialize() {
  var myLatlng = new google.maps.LatLng(37.45617490689341, -122.17509257214354);
  var myOptions = {
    zoom: 13,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }
  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  
  google.maps.event.addListener(map, 'click', function(event) {
    placeMarker(event.latLng);
  });
}

function addPlaceMarker(lat,lng){
  var latlong = new google.maps.LatLng(lat, lng);
  var marker = new google.maps.Marker({
      position: latlong, 
      map: map
  });
}  
  
function placeMarker(location) {
  var clickedLocation = new google.maps.LatLng(location);
  if(marker == null){
      marker = new google.maps.Marker({
      position: location, 
      map: map
    });
  }else{
    marker.setPosition(location)
  }
  marker.setDraggable(true);
  $('input[id=must_latitude]').attr(
    {value: location.lat()});
  $('input[id=must_longitude]').attr(
    {value: location.lng()});
  map.setCenter(location);
  google.maps.event.addListener(marker, 'dragend', function(event) {
    //placeMarker(event.latLng);
    latLng = marker.getPosition();
    $('input[id=must_latitude]').attr(
      {value: latLng.lat()});
    $('input[id=must_longitude]').attr(
      {value: latLng.lng()});
  });
}
</script>
<% content_for :stylesheet do%>
  <%= stylesheet_link_tag 'tinycarousel' %>
<%end%>

<% content_for :additional_javascript do %>
  <%= javascript_include_tag "jquery.tinycarousel.min" %>
  <%= javascript_include_tag "form" %>
  <script type="text/javascript"
    src="http://maps.google.com/maps/api/js?sensor=true">
  </script>
<%end%>

