<h1><%=h @must.name%></h1>

<p>
	<%=h @must.description%>
</p>

<p>
	<%=h @must.location%>
</p>

<%= render :partial => 'comments_list', :locals => { :must => @must} %>
<%= render :partial => 'comments', :locals => { :must => @must} %>