<ul class="musts must">
	
		  <li id='must<%= @must.id%>'>
		 	  <div class="left">
			      <%= link_to "", { :url => must_agree_path(@must) }, :remote => true, :class => "add" -%>
		          <span class="add_count" id="agrees_count_<%=@must.id%>"><%= @must.total_agrees %></span>
				  <%= link_to "", { :url => must_disagree_path(@must) }, :remote => true, :class => "remove" -%>
				  <span class="remove_count" id="disagrees_count_<%=@must.id%>"><%= @must.total_disagrees %></span>
				<% if controller.controller_name == "buckets"%>  
				<a title="Have you Done it?" href="javascript:update_a_must_in_my_bucket_list('<%=current_user.id%>', '<%= @must.id%>')" class="done_button"></a>
				<% end %>
				</div><!-- left -->
		    <div class="<% if @must.is_done(current_user)%>right done<% else %>right <% end %>">
		      <ul class="icons">
						<span id="favorite_<%=@must.id%>">
						<%= render :partial => "musts/favorite", :locals => {:must => @must} %>
						</span>

						<% if current_user %>
						<% if controller.controller_name != "buckets"%>
							<li><a class="bucket_add" title="Add this Must to your Bucket List" href="javascript:void(0)" onclick="add_must_to_my_bucket_list(<%= current_user.id%>, <%=@must.id%>)" ></a></li>
						<% end %>
						<% end %>

						<li><a class="facebook" href="javascript:void(0);" title="" onclick="window.open('http://www.facebook.com/sharer.php?u=<%= must_url(@must)%>&t=<%= @must.name %>', 'Share this on Facebook', 'width=540,height=480');"></a></li>
						<li><a class="twitter" href="javascript:void(0);" title="" onclick="window.open('http://twitter.com/share?url=<%= must_url(@must)%>&text=<%= @must.name %>&via=you_must_do', 'Share this on Twitter', 'width=540,height=480');"></a></li>
		      </ul>
		      <div class="title"><%= avatar_for(@must.user,30) %>
		        <span>You must <%= @must.category_name %></span> 
				<%= link_to @must.name, must_path(@must) %> <small>by <%= link_to @must.user.username, user_musts_path(@must.user.username) %></small>
		      </div><!-- title -->

<div class="must_content">
<% if @must.listen? %>
  <!-- Begin AudioJS -->
  <div class="audio-js-box">
    <!-- Using the Audio for Everybody Embed Code http://camendesign.com/code/audio_for_everybody -->
    <audio class="audio-js" controls preload>
      <source src="<%= @must.attachment.format1_url %>">
      <source src="<%= @must.attachment.format2_url %>">
    </audio>
  </div>
  <!-- End AudioJS -->
<% else %>
  <%=show_big_content(@must)%>
<% end %>

<p><%= auto_link(simple_format(@must.description), :urls, :target => "_blank") %><br/><%= link_to("#{@must.category_name} more...", @must.url) unless @must.url.nil? || ["Have","Do"].include?(@must.category_name) %></p><br/><br/>

<div class="tags">
<p>
<b>Tags:</b>

<% @must.tag_list.each do |tag|%>
	<a href="<%= tags_path(tag) %>"><%= tag %></a>
<% end %>

</p>


<p>This must has <a><%= pluralize(@must.comments.count, 'comment') %></a></p>     
</div>     
</div> <!-- must_content -->

<div id="comments">
<%= render :partial => 'comments_list', :locals => { :must => @must} %>

<%= render :partial => 'comments', :locals => { :must => @must} %>


</div><!-- comments -->

</div><!-- right -->
</li>
	
		 
</ul>
<% if @must.listen? %>
  <% content_for :stylesheet do %>
    <%= stylesheet_link_tag 'audio_js/audio-js' %>
    <%= stylesheet_link_tag 'audio_js/skins/hu.css' %>
    <%= stylesheet_link_tag 'audio_js/skins/tube.css' %>
    <%= stylesheet_link_tag 'audio_js/skins/vim.css' %>
  <% end %>

  <% content_for :javascript do %>
    <%= javascript_include_tag "audio" %>
    <script type="text/javascript" charset="utf-8">
      $(function(){
        AudioJS.setup();
      })
    </script>
  <% end %>
<% end %>
